* {
  box-sizing: border-box;
}
  
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery-section{
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.search-form {
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-input {
  height: 40px;
  flex-grow: 1;
  font-size: 18px;
  padding-left: 15px;
  margin-right: 10px;
  border: 1px solid #037915;
}

.search-btn,
.load-more-btn{
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.load-more-btn {
  display: block;
  margin: 0 auto;
}

.load-more-btn.is-hidden {
  display: none;
}

.search-btn:hover,
.search-btn:focus,
.load-more-btn:hover,
.load-more-btn:focus {
  background-color: #1cc663;
  color: #ffffff;
  border-color: #037915
}

.gallery__img{
  width: 280px;
  height: 180px;
  margin: 0 auto;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-basis: calc(60px / 4);
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444444;
  font-size: 14px;
}

.info-item:not(:first-child) {
  margin-left: 5px;
}

.photo-card{
  border: 1px solid #EEEEEE;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
